@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-xs { font-size: 0.75em !important; }
  .text-sm { font-size: 0.875em !important; }
  .text-md { font-size: 1em !important; }
  .text-lg { font-size: 1.125em !important; }
  .text-xl { font-size: 1.25em !important; }
  .text-2xl { font-size: 1.5em !important; }
  .text-3xl { font-size: 1.875em !important; }
  .text-4xl { font-size: 2.25em !important; }
  .text-5xl { font-size: 2.625em !important; }
  .text-6xl { font-size: 3em !important; }
}
